/**
	List
*/
.act-list {
	margin: 40px 0;
}
	.act-list article + article {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #eee;
	}
		.act-list article h1 {
			margin: 0;
			font-weight: normal;
		}


/**
	Crib
*/
.tag-crib button {
	background: none #eee;
	border: 1px solid #ccc;
	padding: 3px 10px;
	display: inline-block;
	line-height: 1;
}
.tag-crib button::-moz-focus-inner {
    padding-top: 2px;
}
.tag-crib .is-destination,
.tag-crib .is-origin {
	background-color: #8acc66;
}
