<article
	class="act-crib"
>
	<h1
		class="act-crib-title"
	>
		<%= owner %>
	</h1>
	<h2
		class="act-crib-owner"
	>
		<%= address %>
	</h2>

	<button
		class="act-button event-origin<%
			if ( is_origin === true ) {
				%> act-button-active<%
			}
		%>"
	>
		Origin
	</button>

	<button
		class="act-button event-destination<%
			if ( is_destination === true ) {
				%> act-button-active<%
			}
		%>"
	>
		Destination
	</button>

	<button
		class="act-button act-button-action event-destroy"
	>
		Remove
	</button>
</article>
