<section
	class="act-feedback act-feedback-<%= type %>"
	id="tag-feedback"
	style="display: none"
>
	<div class="act-content-container">
		<div class="act-feedback-text">
			<h1 class="act-feedback-title">
				<%= title %>
			</h1>

			<%
				if ( typeof message !== 'undefined' ) {
					if ( typeof message !== 'object' ) {
						message = [ message ];
					}
					_.each( message, function( string ) {
						%><p class="act-feedback-message"><%= string %></p><%
					} );
				}
			%>
		</div>
	</div>
</section>
